.proposal-section
  %h3.control-label Talk Outline
  .markdown{ data: { 'field-id' => 'proposal_abstract' } }
    = proposal.abstract_markdown

%h2.fieldset-legend For Review Committee

.proposal-section
  %h3.control-label Problem
  .markdown{ data: { 'field-id' => 'proposal_details' } }
    = markdown(proposal.details)

.proposal-section
  %h3.control-label Fit
  .markdown{ data: { 'field-id' => 'proposal_pitch' } }
    = markdown(proposal.pitch)

.proposal-section
  %h3.control-label Research
  .markdown{ data: { 'field-id' => 'research' } }
    = markdown(proposal.research) 

.proposal-section
  %h3.control-label Location and Time zone
  .markdown{ data: { 'field-id' => 'location_and_time_zone' } }
    = proposal.location_and_time_zone 

.proposal-section
  %h3.control-label Equipment Requirements
  .markdown{ data: { 'field-id' => 'equipment_requirements' } }
    = markdown(proposal.equipment_requirements) 

.proposal-section
  %h3.control-label Accessibility Requirements
  .markdown{ data: { 'field-id' => 'accessibility_requirements' } }
    = markdown(proposal.accessibility_requirements)  

- if proposal.custom_fields.any?
  - proposal.proposal_data[:custom_fields].select do |key,value|
    .proposal-section
      %h3.control-label= key.capitalize
      %div
      = value.capitalize
      %div
